@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;


    --type-normal2: #e8e862;
    --type-fire2: #f8761a;
    --type-water2: #1f5dee;
    --type-grass2: #8eec60;
    --type-electric2: #fdcc09;
    --type-ice2: #37fbfb;
    --type-fighting2: #f7271c;
    --type-poison2: #f84ef8;
    --type-ground2: #f7be22;
    --type-flying2: #8158fe;
    --type-psychic2: #fc89ac;
    --type-bug2: #e9fe29;
    --type-rock2: #e4cb58;
    --type-ghost2: #5a1fba;
    --type-dark2: #9d8474;
    --type-dragon2: #9272df;
    --type-steel2: #cacae6;
    --type-fairy2: #f88792;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

  
ul {
    list-style-type: none;
}

.buscador {
    width: 100%;
    height: 30px;
    text-indent: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: #f3f0f0;
}


body {
    min-height: 100vh;
    background-color: var(--clr-gray);
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}
/*PARTE DEL HEADER*/
.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 1200px;
  }
  
  .input {
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    width: 1180px;
    text-align: center;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #ffcb05;
    color: #0d0c22;
    box-shadow: 0 0 5px #2a75bb, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
  }
  
  .input::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }

  @media (max-width: 768px) {
    .group {

        margin-left: 10px;
      }
    .input {
        
        height: 30px;
        line-height: 28px;
        padding: 0 1rem;
        width: 330px;
        text-align: center;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #ffcb05;
        color: #0d0c22;
        box-shadow: 0 0 5px #2a75bb, 0 0 0 10px #f5f5f5eb;
        transition: .3s ease;
    }
}
/*MAIN DE LISTADO*/
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/*ESTILOS DE LISTADO DE POKEMONES*/
.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/*ESTILO DE CARDS DEL LISTADO*/
.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform:capitalize;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    
}

.pokemon-imagen img {
    margin-bottom: 20px;
    margin-top: -20px;
    width: 100%;
    max-width: 110px;
    filter: grayscale(1);
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: left;
    margin-bottom: 0;
}

.pokemon-nombre {
    color: #FFFFFF;
    font-size: 1.4rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}
#prevButton {
    height: 40px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #2a75bb 5px;
    font-size: 16px;
    color: rgb(78, 77, 77);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffcb05, #c7a008);    
    font-weight: bold;

  }
  
  #prevButton:hover {
    color: #000000;
    border: solid #136be6 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  #prevButton:active {
    color: #000000;
    border: solid #136be6 2px;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  #nextButton {
    height: 40px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #2a75bb 5px;
    font-size: 16px;
    color: rgb(78, 77, 77);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffcb05, #c7a008);
    font-weight: bold;
  }
  
  #nextButton:hover {
    color: #000000;
    border: solid #136be6 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  #nextButton:active {
    color: #000000;
    border: solid #136be6 2px;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
.tipo {
    padding: .25rem .5rem;
    border-radius: 5px;
}

/*ETILOS PARA EL COLOR DEL ESTILO*/
.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}

/*FONDO*/


.fondo{
    border-radius: 8px;
    height: 120px;
}
.normal2 {
    background-color: var(--type-normal2);
    color: var(--clr-black);
}
.grass2 {
    background-color: var(--type-grass2);
    color: var(--clr-black);
}
.fire2 {
    background-color: var(--type-fire2);
    color: var(--clr-black);
}

.water2 {
    background-color: var(--type-water2);
    color: var(--clr-white);
}

.electric2 {
    background-color: var(--type-electric2);
    color: var(--clr-black);
}

.ice2 {
    background-color: var(--type-ice2);
    color: var(--clr-black);
}

.fighting2 {
    background-color: var(--type-fighting2);
    color: var(--clr-white2);
}



.ground2 {
    background-color: var(--type-ground2);
    color: var(--clr-black2);
}

/*.flying2 {
    background-color: var(--type-flying2);
    color: var(--clr-black);
}
.poison2 {
    background-color: var(--type-poison2);
    color: var(--clr-white);
}
*/
.psychic2 {
    background-color: var(--type-psychic2);
    color: var(--clr-black2);
}

.bug2 {
    background-color: var(--type-bug2);
    color: var(--clr-black2);
}

.rock2 {
    background-color: var(--type-rock2);
    color: var(--clr-black2);
}

.ghost2 {
    background-color: var(--type-ghost2);
    color: var(--clr-white2);
}

.dark2 {
    background-color: var(--type-dark2);
    color: var(--clr-white2);
}

.dragon2 {
    background-color: var(--type-dragon2);
    color: var(--clr-white2);
}

.steel2 {
    background-color: var(--type-steel2);
    color: var(--clr-black2);
}

.fairy2 {
    background-color: var(--type-fairy2);
    color: var(--clr-black2);
}

/*FILTRO QUE SE AGREGA PARA AL BUSQUDA*/
.filtro{
    display: none;
}
